/*
   FONT FAMILY GROUPS
*/

/* JetBrains */
@font-face {
  font-family: 'Jetbrains';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/JetBrains/JetBrainsMono-Regular.woff2') format('woff2');
}

/* Inter */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('./assets/fonts/inter/Inter-Medium.woff2?v=3.19') format('woff2'),
    url('./assets/fonts/inter/Inter-Medium.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('./assets/fonts/inter/Inter-Medium.woff2?v=3.19') format('woff2'),
    url('./assets/fonts/inter/Inter-Medium.woff?v=3.19') format('woff');
}

/* Inter var */
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('./assets/fonts/intervar/Inter.var.woff2?v=3.19') format('woff2');
}

/* Proxima Nova */
@font-face {
  font-family: 'Proxima Nova';
  src:
    url('./assets/fonts/proxima/proximanova_bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-dark;
  @apply font-interNormal text-light leading-tight;
  font-feature-settings:
    'kern' on,
    'liga' on,
    'calt' on,
    'zero' on;
  -webkit-font-feature-settings:
    'kern' on,
    'liga' on,
    'calt' on,
    'zero' on;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-variant-ligatures: contextual common-ligatures;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  html {
    @apply font-interVar;
  }
}

.word {
  white-space: pre;
  display: inline-flex;
  overflow: hidden;
}

.word > span {
  display: inline-block;
  position: relative;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}

.content {
  @apply text-left;
}
.content h1,
.content h2,
.content h3 {
  @apply text-light font-proxima;
}
.content h1 {
  @apply text-500 md:text-600 mt-3 md:mt-4 mb-6 md:mb-10;
}
.content h2 {
  @apply text-300 md:text-400 mt-6 md:mt-8 mb-3 md:mb-4;
}
.content h3 {
  @apply text-200 md:text-300 mt-4 md:mt-6 mb-3 md:mb-4;
}
.content p,
.content li {
  @apply my-3 md:my-4 text-100 md:text-200;
}

.content ul,
.content ol {
  @apply my-4 md:my-6 list-inside;
}
.content ul {
  @apply list-disc;
}
.content ol {
  @apply list-decimal;
}

@layer components {
  .text-link {
    @apply inline-block no-underline focus:outline-0 
    after:block after:w-full after:bg-current after:h-px after:duration-200 after:transition-transform after:scale-x-0 after:origin-right 
    hover:after:origin-left hover:after:scale-x-100 focus:after:origin-left focus:after:scale-x-100;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
