/*
   FONT FAMILY GROUPS
*/

/* JetBrains */
@font-face {
  font-family: 'Jetbrains';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/JetBrains/JetBrainsMono-Regular.woff2') format('woff2');
}

/* Inter */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('./assets/fonts/inter/Inter-Medium.woff2?v=3.19') format('woff2'),
    url('./assets/fonts/inter/Inter-Medium.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('./assets/fonts/inter/Inter-Medium.woff2?v=3.19') format('woff2'),
    url('./assets/fonts/inter/Inter-Medium.woff?v=3.19') format('woff');
}

/* Inter var */
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('./assets/fonts/intervar/Inter.var.woff2?v=3.19') format('woff2');
}

/* Termina */
@font-face {
  font-family: 'Termina';
  src:
    url('./assets/fonts/termina/Termina-Demi.woff2') format('woff2'),
    url('./assets/fonts/termina/Termina-Demi.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-dark;
  @apply font-interNormal text-light leading-tight;
  font-feature-settings:
    'kern' on,
    'liga' on,
    'calt' on,
    'zero' on;
  -webkit-font-feature-settings:
    'kern' on,
    'liga' on,
    'calt' on,
    'zero' on;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-variant-ligatures: contextual common-ligatures;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  html {
    @apply font-interVar;
  }
}

.word {
  white-space: pre;
  display: inline-flex;
  overflow: hidden;
}

.word > span {
  display: inline-block;
  position: relative;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
